
conngaProj/.vs/conngaProj/v17/.suo
conngaProj/.vs/conngaProj/v17/.suo
conngaProj/conngaProj/bin/Release/net6.0-windows/conngaProj.dll
conngaProj/.vs/conngaProj/v17/.suo
conngaProj/conngaProj/bin/Release/net6.0-windows/conngaProj.dll
*.exe
conngaProj/conngaProj/obj/Release/net6.0-windows/ref/conngaProj.dll
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.pdb
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.genruntimeconfig.cache
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.GeneratedMSBuildEditorConfig.editorconfig
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.dll
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.designer.runtimeconfig.json
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.designer.deps.json
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.csproj.GenerateResource.cache
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.csproj.FileListAbsolute.txt
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.csproj.CoreCompileInputs.cache
conngaProj/conngaProj/obj/Release/net6.0-windows/conngaProj.assets.cache
conngaProj/conngaProj/obj/Release/net6.0-windows/apphost.exe
conngaProj/conngaProj/obj/project.nuget.cache
conngaProj/conngaProj/obj/project.assets.json
conngaProj/conngaProj/obj/conngaProj.csproj.nuget.g.props
conngaProj/conngaProj/obj/conngaProj.csproj.nuget.dgspec.json
conngaProj/conngaProj/bin/Release/net6.0-windows/conngaProj.pdb
conngaProj/conngaProj/bin/Release/net6.0-windows/conngaProj.exe
conngaProj/conngaProj/bin/Release/net6.0-windows/conngaProj.dll
conngaProj/.vs/conngaProj/v17/.suo
