body{
    margin: 0;
}
.menu_bar{
    padding: 20px;
    min-height: 917px; /* weź ktoś zrób by to było do końca pls*/
    width: 19%; /* to jest 400px ponoć B) */
    color: white;
    background-color: #353535;
}